@page "/tickets"
@using Microsoft.AspNetCore.Authorization
@using ShowTime.BusinessLogic.Abstractions
@using ShowTime.BusinessLogic.DTOs
@using ShowTime.DataAccess.Models
@rendermode InteractiveServer
@attribute [StreamRendering]
@attribute [Authorize(Roles = "User")]

<h3>Tickets</h3>
