@using Microsoft.AspNetCore.Components.Authorization
@inherits LayoutComponentBase

<div class="page">


    <header class="sticky-top z-3">
        <NavMenu />
    </header>

    <main class="container mt-4">
        <article class="content px-2 px-md-4 py-3">
            @Body
        </article>
    </main>
</div>

<div id="blazor-error-ui">
    An unhandled error has occurred.
    <a href="" class="reload">Reload</a>
    <a class="dismiss">🗙</a>
</div>

